<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>School Dashboard</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      type="text/scss"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./cards.component.scss" />
  </head>
  <body>
    <section class="main-content">
      <div class="container">
        <h1 class="text-center text-uppercase"> Welcome to School dashboard </h1>
        <br />
        <br />

        <div class="row">
          <div class="col-sm-4">
            <div class="stat-card">
              <div class="stat-card__content">
                <p class="text-uppercase mb-1 text-muted">No. of students</p>
                <h2> 1,254</h2>
                <div>
                  <span class="text-success font-weight-bold mr-1"
                    > in our school	</span
                  >
                  <span class="text-muted">in 2021</span>
                </div>
              </div>
              <div class="stat-card__icon stat-card__icon--success">
                <div class="stat-card__icon-circle">
                  <i class="fa fa-graduation-cap"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="stat-card">
              <div class="stat-card__content">
                <p class="text-uppercase mb-1 text-muted">No. of Teachers</p>
                <h2>26</h2>
                <div>
                  <span class="text-primary font-weight-bold mr-1"
                    >In our school </span
                  >
                  <span class="text-muted">in 2022</span>
                </div>
              </div>
              <div class="stat-card__icon stat-card__icon--primary">
                <div class="stat-card__icon-circle">
                  <i class="fa fa-users"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="stat-card">
              <div class="stat-card__content">
                <p class="text-uppercase mb-1 text-muted">Fees collected this month</p>
                <h2>15,06,500 ₹</h2>
                <div>
                  <span class="text-warning font-weight-bold mr-1"
                    ><i class="fa fa-arrow-up"></i> +5% </span
                  >
                  <span class="text-muted">Since previous month</span>
                </div>
              </div>
              <div class="stat-card__icon stat-card__icon--warning">
                <div class="stat-card__icon-circle">
                  <i class="fa fa-money
				  "></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  </body>
</html>
